{% extends "base.html" %}
{% block extrahead %}
    <title>Advertisement</title>
{% endblock %}

{% block content %}
    <h2>{{ ad.title }}</h2>
    <br/>
    {{ ad.text}}
    <br/>
    {{ ad.price}}
    <br/>
    Было добавлено пользователем <a href="{% url 'user' ad.owner.id %}">{{ ad.owner.user.username }}</a>.
    <br/>
    <img src="{{ MEDIA_URL }}{{ ad.image }}" alt="Ad image"/>
    <br/>
    Вы можете купить эту головную боль
{#    OLOLOLOLOLOLOLO !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!    #}
    <form action="{% url 'sale_detail' ad.id ad.id %}" method="POST">{% csrf_token %}
        <input type="submit" value="Купить" />
    </form>
{% endblock %}
