{% extends "base.html" %}
{% block content %}
    {% if latest_ad_list %}

        <table>
            <thead>
                <th>Title</th>
                <th>Text</th>
                <th>Price</th>
                <th>Owner</th>
                <th>Image</th>
            </thead>
            <tbody>
                {% for ad in latest_ad_list %}
                    <tr>
                        <td><a href="/kazan/ad/{{ ad.id }}/">{{ ad.title }}</a></td>
                        <td>{{ ad.text }}</td>
                        <td>{{ ad.price }}</td>
                        <td>{{ ad.owner.user.username }}</td>
                        <td>
                            <img src="{{ MEDIA_URL }}{{ ad.image }}" alt="Ad image"/>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No ads are available.</p>
    {% endif %}

    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить" />
    </form>
{% endblock %}
