{% extends "base.html" %}
{% block extrahead %}
    <title>User profile</title>
{% endblock %}

{% block content %}
    Вы попали на страницу пользователя {{ user.user.username }}
    <br/>
    Можете связаться с ним по email: {{ user.user.email }}
    <br/>
    <img src="{{ MEDIA_URL }}{{ user.image }}" alt="User image"/>
    <h3>Объявления пользователя</h3>
    {% if latest_ad_list %}

        <table>
            <thead>
                <th>Title</th>
                <th>Text</th>
                <th>Price</th>
                <th>Image</th>
            </thead>
            <tbody>
                {% for ad in latest_ad_list %}
                    <tr>
                        <td><a href="{% url 'ad_detail' ad.id %}">{{ ad.title }}</a></td>
                        <td>{{ ad.text }}</td>
                        <td>{{ ad.price }}</td>
                        <td><img src="{{ MEDIA_URL }}{{ ad.image }}" alt="Ad image"/></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No ads are available.</p>
    {% endif %}
{% endblock %}