<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    {% block content %}
    <form action="" method="post"> {% csrf_token %}
    {% if form.errors %}<p>Please correct the following fields:</p>{% endif %}
        <div class="register_div">
        {% if form.username.errors %}<p class="error">{{ form.username.errors }}</p>{% endif %}
            <p><label for="username"{% if form.username.errors %} class="error"{% endif %}>Username:</label></p>
            <p>{{ form.username }}</p>
        </div>
        <div class="register_div">
            {% if form.password.errors %}<p class="error">{{ form.password.errors }}</p>{% endif %}
            <p><label for="password"{% if form.password.errors %} class="error"{% endif %}>Password:</label></p>
            <p>{{ form.password }}</p>
        </div>
        <p><input type="submit" alt="register" /></p>
    </form>

    <script type="text/javascript">
        document.getElementById('id_username').focus()
    </script>

    <ul>
        <li><a href="{% url 'password_reset' %}">Забыли пароль?</a></li>
        <li><a href="{% url 'registration' %}">Регистрация</a></li>
    </ul>
    {% endblock %}

</body>
</html>
