<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{##}
{#    {% block content %}#}
{#    <h1>Авторизация</h1>#}
{##}
{#    {% if user.is_authenticated %}#}
{#    Что такое, {{ user.username }}? Вы же уже авторизорваны.#}
{#    Впрочем, всегда можно <a href="{% url 'auth_logout' %}">выйти</a>.<br/><br/>#}
{#    {% else %}#}
{##}
{#    {% if form.non_field_errors %}#}
{#    {{ form.non_field_errors }}#}
{#    {% endif %}#}
{##}
{#    <form method="post" action="">{% csrf_token %}#}
{#    <dl class="register">#}
{#    {% for field in form %}#}
{#        <dt>{{ field.label_tag }}</dt>#}
{#        <dd class="clearfix">{{ field }}#}
{#        {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}#}
{#        {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}#}
{#        </dd>#}
{#    {% endfor %}#}
{#    </dl>#}
{#    <input type="submit" value="Вход"  class="clearfix">#}
{#    </form>#}
{##}
{#    <script type="text/javascript">#}
{#    document.getElementById('id_username').focus()#}
{#    </script>#}
{##}
{#     <br/><br/>#}
{#    <ul>#}
{#        <li><a href="{% url 'auth_password_reset' %}">Забыли пароль?</a></li>#}
{#        <li><a href="{% url 'registration_register' %}">Регистрация</a></li>#}
{#    </ul>#}
{#    {% endif %}#}
{#    {% endblock %}#}
{##}
{##}
{##}
    {% block content %}
    <form action="" method="post"> {% csrf_token %}
    {% if form.errors %}<p>Please correct the following fields:</p>{% endif %}
        <div class="register_div">
        {% if form.username.errors %}<p class="error">{{ form.username.errors }}</p>{% endif %}
            <p><label for="username"{% if form.username.errors %} class="error"{% endif %}>Username:</label></p>
            <p>{{ form.username }}</p>
        </div>
        <div class="register_div">
            {% if form.password.errors %}<p class="error">{{ form.password.errors }}</p>{% endif %}
            <p><label for="password"{% if form.password.errors %} class="error"{% endif %}>Password:</label></p>
            <p>{{ form.password }}</p>
        </div>
        <p><input type="submit" alt="register" /></p>
    </form>

    <script type="text/javascript">
        document.getElementById('id_username').focus()
    </script>
{#    <p>Forgot your password? <a href="/resetpassword/">Reset it!</a></p>#}
    {% endblock %}

</body>
</html>
